<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">SaveThisMedia.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="{{ path('home') }}">Home</a>
                <a class="nav-link" href="{{ path('media_last') }}">Dernières sauvegardes</a>
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                <a class="nav-link" href="{{ path('foryou') }}">Pour toi (beta)</a>
            </div>
            {% include 'component/_search.html.twig' %}
        </div>
    </div>
</nav>
